<div class='container' style='padding-top: 60px'>
  <div class='row'>
    <section class='main col-md-9'>
      <article>
        <h2>About</h2>
        <p>
          I'm a computer programming student who loves problem solving and web
          development.
          <br />
          I aspire to be a web developer and someday own a web development
          agency.<br />
          My other hobbies/interests include reading fiction, watches, food and
          cats.
        </p>
        <h2>Basic Information</h2>
        <ul>
          <li>
            Age: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; 19
          </li>
          <li>
            Email: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; rbajaj12@myseneca.ca
          </li>
          <li>
            Language: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; English
          </li>
          <li>Class Section: &nbsp; &nbsp; &nbsp; NJJ</li>
          <li>
            Student ID:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 107707218
          </li>
          <li>
            Instructor:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Suluxan
            Mohanraj
          </li>
        </ul>
        <h3>Academic Honesty</h3>
        <p>
          I declare that my assessment is wholly my own work in accordance with
          Seneca Academic Policy. No part of this assessment has been copied
          manually or electronically from any other source (including web sites)
          except for the information supplied by the WEB322 instructors and / or
          made available in this assessment for my use. I also declare that no
          part of this assignment has been distributed to other students.
        </p>
      </article>
    </section>
    <aside class='col-md-3'>
      <h2>Coming Soon</h2>
      <p>Stay tuned for future updates...</p>
    </aside>
  </div>
</div>